@model TieFighter.Areas.Admin.Models.UsersViewModels.UserWithRolesVM

@{
    ViewData["Title"] = "Edit";
}

<div class="topVSpacer"></div>
<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div class="d-flex align-items-center">
            <h2 class="flex-grow">Edit User - @Model.User.Email</h2>
            <input type="button" id="updateEntity" value="Update" class="btn btn-primary align-middle mx-2" />
            <a asp-action="Index">Back to List</a>
        </div>
        <hr />
        <ul class="nav nav-tabs" id="userTabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="userInfo-tab" data-toggle="tab" href="#userInfo" role="tab" aria-controls="userInfo" aria-selected="true">User Info</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="roles-Tab" data-toggle="tab" href="#roles" role="tab" aria-controls="roles" aria-selected="false">Roles</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="userInfo" role="tabpanel" aria-labelledby="userInfo-tab">
                <form asp-action="Edit" id="userInfoForm">
                    <div class="form-group">
                        <label asp-for="User.Id" class="control-label"></label>
                        <input asp-for="User.Id" class="form-control" readonly disabled/>
                        <span asp-validation-for="User.Id" class="text-danger"></span>
                    </div>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="User.DisplayName" class="control-label"></label>
                        <input asp-for="User.DisplayName" class="form-control" required type="text" />
                        <span asp-validation-for="User.DisplayName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="User.DisplayLevel" class="control-label"></label>
                        <input asp-for="User.DisplayLevel" class="form-control" type="number" required />
                        <span asp-validation-for="User.DisplayLevel" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="User.UserName" class="control-label"></label>
                        <input asp-for="User.UserName" class="form-control" />
                        <span asp-validation-for="User.UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="User.Email" class="control-label"></label>
                        <input asp-for="User.Email" class="form-control" />
                        <span asp-validation-for="User.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="User.Thumbnail" class="control-label"></label>
                        <img class="usr-picture" src="@Model.User.Thumbnail" />
                        <input asp-for="User.Thumbnail" class="form-control" type="file" accept="image/png" />
                        <span asp-validation-for="User.Thumbnail" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="User.AccessFailedCount" class="control-label"></label>
                        <input asp-for="User.AccessFailedCount" class="form-control" readonly disabled />
                        <span asp-validation-for="User.AccessFailedCount" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="User.LockoutEnd" class="control-label"></label>
                        <input asp-for="User.LockoutEnd" class="form-control" />
                        <span asp-validation-for="User.LockoutEnd" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input asp-for="User.LockoutEnabled" /> @Html.DisplayNameFor(model => model.User.LockoutEnabled)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="User.CreatedOn" class="control-label"></label>
                        <input asp-for="User.CreatedOn" class="form-control" readonly disabled/>
                        <span asp-validation-for="User.CreatedOn" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="User.MostRecentActivity" class="control-label"></label>
                        <input asp-for="User.MostRecentActivity" class="form-control" readonly disabled/>
                        <span asp-validation-for="User.MostRecentActivity" class="text-danger"></span>
                    </div>
                </form>
            </div>
            <div class="tab-pane fade" id="roles" role="tabpanel" aria-labelledby="roles-tab">
                <div>
                    <h4>Create new role</h4>
                    <label>
                        Role Name:
                        <input class="form-control" type="text" placeholder="Enter role name" />
                    </label>
                    <button class="btn btn-primary">Create Role</button>
                </div>
                <div>
                    <h4>User Roles</h4>
                    <ul id="userRoles">
                        @foreach (var role in Model.Roles)
                        {
                            <li>
                                <label>
                                    @if (role.IsInRole)
                                    {
                                        <input class="custom-checkbox align-middle" name="@role.RoleName" checked type="checkbox" />
                                    }
                                    else
                                    {
                                        <input class="custom-checkbox align-middle" name="@role.RoleName" type="checkbox" />
                                    }
                                    @role.RoleName
                                </label>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/admin-users-edit.js"></script>
}