@model TieFighter.Areas.Admin.Models.ToursViewModels.TourWithMissionVM

@{
    ViewData["Title"] = "Edit";
}

<div class="topVSpacer"></div>
<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div class="d-flex align-items-center">
            <h2 class="flex-grow">Edit Tour - @Model.Tour.TourName</h2>
            <input type="button" id="updateEntity" value="Update" class="btn btn-primary align-middle mx-2" />
            <a asp-action="Index">Back to List</a>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input id="tourId" class="hidden" type="hidden" value="@Model.Tour.TourId" />
                    <div class="form-group">
                        <label asp-for="Tour.TourName" class="control-label"></label>
                        <input asp-for="Tour.TourName" class="form-control" required />
                        <span asp-validation-for="Tour.TourName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Tour.Position" class="control-label"></label>
                        <input asp-for="Tour.Position" class="form-control" required />
                        <span asp-validation-for="Tour.Position" class="text-danger"></span>
                    </div>
                </form>
                <h3>Conflicting Tours:</h3>
                <table class="table" id="toursWithConflictingPositions">
                    <tbody>
                        @foreach (var conflictingTour in Model.ToursWithConflictingPositions)
                        {
                            <tr>
                                <td>
                                    <a asp-area="Admin" asp-controller="Tours" asp-action="Edit" asp-route-id="@conflictingTour.TourId">@conflictingTour.TourName</a>
                                    <div class="float-right">@conflictingTour.Position</div>
                                </td>
                            </tr>
                        }
                        <tr id="noConflictsMessage">
                            <td class="text-success">
                                No conflicting tours
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <h2>Missions</h2>
                <div class="row">
                    <div class="col">
                        <a class="btn btn-primary float-right m-2" asp-area="Admin" asp-controller="Tours" asp-action="Create">Create New</a>
                        <button id="deleteSelected" class="btn btn-danger float-right m-2">Delete Selected</button>
                    </div>
                </div>
                <table id="missionTable" class="table" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="align-middle">
                                <div class="d-flex flex-column align-items-center justify-content-center h-100">
                                    <label class="m-0">
                                        <input id="selectAll" type="checkbox" class="custom-checkbox z-depth-1 z-depth-3-hover" />
                                    </label>
                                </div>
                            </th>
                            <th class="align-middle">Name</th>
                            <th class="align-middle"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var mission in Model.Tour.Missions)
                        {
                            <tr>
                                <td class="align-middle">
                                    <div class="d-flex flex-column align-items-center justify-content-center h-100">
                                        <label class="m-0">
                                            <input id="selectAll" type="checkbox" class="custom-checkbox z-depth-1 z-depth-3-hover" />
                                        </label>
                                    </div>
                                </td>
                                <td class="align-middle">
                                    @mission.DisplayName
                                </td>
                                <td class="align-middle">
                                    <a class="btn btn-outline-primary" asp-area="Admin" asp-controller="Tours" asp-action="EditMission" asp-route-id="@mission.Id">Edit</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
<template id="conflictingPositionTableRowTemplate">
    <tr>
        <td>
            <a></a>
            <div class="float-right"></div>
        </td>
    </tr>
</template>

@section Scripts {
    <script src="~/js/admin-tours-edit.js"></script>
}