@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width  initial-scale=1  shrink-to-fit=no">
    <title>@ViewData["Title"]</title>
    <link rel="icon" type="image/png" href="~/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/bootstrap-theme.css">
    <link rel="stylesheet" href="~/css/jBox.css" />
    <link rel="stylesheet" href="~/css/jBox.Notice.css" />
    @*<link rel="stylesheet" href="~/css/jquery.dataTables.css" />*@
    <environment names="Development">
        <link rel="stylesheet" href="~/css/responsive.bootstrap4.css" />
        <link rel="stylesheet" href="~/css/select.bootstrap4.css" />
        <link rel="stylesheet" href="~/css/dataTables.bootstrap4.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/responsive.bootstrap4.min.css" />
        <link rel="stylesheet" href="~/css/select.bootstrap4.min.css" />
        <link rel="stylesheet" href="~/css/dataTables.bootstrap4.min.css" />
    </environment>
    <link rel="stylesheet" href="~/css/Loadable.css" />
    <link rel="stylesheet" href="~/css/site.css">
    @RenderSection("Links", required: false)
</head>
<body>
    <header>
        <nav class="navbar fixed-top navbar-expand-md navbar-dark">
            <a class="navbar-brand" href="#"><img class="img-fluid" src="~/images/Star_Wars_Yellow_Logo.svg" height="30">Tie Fighter - Beta</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="justify-content-end w-100 nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Public Site</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Admin" asp-controller="Home" asp-action="Index">Dashboard</a>
                    </li>
                    <li>
                        @await Html.PartialAsync("_LoginPartial")
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main class="container-fluid">
        <div class="minRowVH">
            <div class="col-lg-3 secondBG">
                <table id="leftNavBar" class="table" role="tablist">
                    <tbody>
                        <tr>
                            <td>
                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="mb-0">
                                            <a asp-area="Admin" asp-controller="Home" asp-action="Index">Dashboard</a>
                                        </h5>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="mb-0">
                                            <a asp-area="Admin" asp-controller="Games" asp-action="Index">Games</a>
                                            <i class="fa fa-arrow-circle-down float-right collapsed" data-toggle="collapse" href="#gamesMainCollapsable" aria-expanded="false" aria-controls="gamesMainCollapsable"></i>
                                        </h5>
                                    </div>
                                    <div id="gamesMainCollapsable" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#leftNavBar">
                                        <ul class="list-group">
                                            <li class="list-group-item">
                                                <h5 class="mb-0">
                                                    <a asp-area="Admin" asp-controller="GameModes" asp-action="Index">Game Modes Types</a>
                                                </h5>
                                            </li>
                                            <li class="list-group-item">
                                                <h5 class="mb-0">
                                                    <a asp-area="Admin" asp-controller="SceneTypes" asp-action="Index">Categories</a>
                                                </h5>
                                            </li>
                                            <li class="list-group-item">
                                                <h5 class="mb-0">
                                                    <a asp-area="Admin" asp-controller="SceneTypes" asp-action="Index">Scene Types</a>
                                                </h5>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="card">
                                    <div class="card-header" role="tab" id="headingTwo">
                                        <h5 class="mb-0">
                                            <a asp-area="Admin" asp-controller="Users" asp-action="Index">Users</a>
                                            <i class="fa fa-arrow-circle-down float-right" data-toggle="collapse" href="#usersMainCollapsable" aria-expanded="false" aria-controls="usersMainCollapsable"></i>
                                        </h5>
                                    </div>
                                    <div id="usersMainCollapsable" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#leftNavBar">
                                        <ul class="list-group">
                                            <li class="list-group-item">
                                                <h5 class="mb-0">
                                                    <a asp-area="Admin" asp-controller="Roles" asp-action="Index">Roles</a>
                                                </h5>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="mb-0">
                                            <a asp-area="Admin" asp-controller="Medals" asp-action="Index">
                                                Medals
                                            </a>
                                            <i class="fa fa-arrow-circle-down float-right collapsed" data-toggle="collapse" href="#medalsCollaspable" aria-expanded="false" aria-controls="medalsCollaspable"></i>
                                        </h5>
                                    </div>
                                    <div id="medalsCollaspable" class="collapse" role="tabpanel" data-parent="#leftNavBar">
                                        <ul class="list-group">
                                            <li class="list-group-item">
                                                <h5 class="mb-0">
                                                    <a asp-area="Admin" asp-controller="MedalConditions" asp-action="Index">Medal Conditions</a>
                                                </h5>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="mb-0">
                                            <a asp-area="Admin" asp-controller="Ships" asp-action="Index">Ships</a>
                                            <i class="fa fa-arrow-circle-down float-right collapsed" data-toggle="collapse" href="#shipCollaspable" aria-expanded="false"></i>
                                        </h5>
                                    </div>
                                    <div id="shipCollaspable" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#leftNavBar">
                                        <ul class="list-group">
                                            <li class="list-group-item">
                                                <h5 class="mb-0">
                                                    <a asp-area="Admin" asp-controller="ShipComponents" asp-action="Index">Ship Components</a>
                                                </h5>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="mb-0">
                                            <a asp-area="Admin" asp-controller="System" asp-action="Index">System</a>
                                            <i class="fa fa-arrow-circle-down float-right collapsed" data-toggle="collapse" href="#systemCollaspable" aria-expanded="false"></i>
                                        </h5>
                                    </div>
                                    <div id="systemCollaspable" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#leftNavBar">
                                        <ul class="list-group">
                                            <li class="list-group-item">
                                                <h5 class="mb-0">
                                                    <a asp-area="Admin" asp-controller="ImageManager" asp-action="Index">Image Manager</a>
                                                </h5>
                                            </li>
                                            <li class="list-group-item">
                                                <h5 class="mb-0">
                                                    <a asp-area="Admin" asp-controller="System" asp-action="Log">Log</a>
                                                </h5>
                                            </li>
                                            <li class="list-group-item">
                                                <h5 class="mb-0">
                                                    <a asp-area="Admin" asp-controller="System" asp-action="Plugins">Plugins</a>
                                                </h5>
                                            </li>
                                            <li class="list-group-item">
                                                <h5 class="mb-0">
                                                    <a asp-area="Admin" asp-controller="System" asp-action="Tasks">Tasks</a>
                                                </h5>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-9">
                <div class="topVSpacer"></div>
                @if (!string.IsNullOrEmpty(ViewBag.Error))
                {
                    <div class="alert alert-danger" role="alert">
                        @ViewBag.Error
                    </div>
                }
                @RenderBody()
            </div>
        </div>
    </main>
    <footer></footer>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.dataTables.js"></script>
    <script src="~/js/xhr.js"></script>
    <script src="~/js/common.js"></script>
    <script src="~/js/admin-common.js"></script>
    <environment names="Development">
        <script src="~/js/jBox.js"></script>
        <script src="~/js/jBox.Notice.js"></script>
        @*<script src="~/js/dataTables.select.js"></script>*@
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/jBox.min.js"></script>
        <script src="~/js/jBox.Notice.min.js"></script>
        @*<script src="~/js/dataTables.select.min.js"></script>*@
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>